@model  DNyC.Models.cEncriptaKeys
<div id="frame-eKeys">
    <input id="TxbA" type="hidden" value="@Model.A" />
    <input id="TxbB" type="hidden" value="@Model.B" />
    <input id="TxbC" type="hidden" value="@Model.C" />
    <input id="TxbD" type="hidden" value="@Model.D" />
    <input id="TxbE" type="hidden" value="@Model.E" />
    <input id="TxbF" type="hidden" value="@Model.F" />
    <input id="TxbG" type="hidden" value="@Model.G" />
</div>
