<!DOCTYPE html>
<html lang="es" xml:lang="es">
<head>
    <link rel="icon" type="image/png" ref="~/Content/img/AgenteTop1.png" sizes="16x16">
    <link rel="icon" type="image/png" ref="~/Content/img/AgenteTop2.png" sizes="32x32">
    <link rel="icon" type="image/png" ref="~/Content/img/AgenteTop3.png" sizes="48x48">

    <title>AgenteTop</title>

    <meta charset="utf-8">
    <meta name="author" content="Seguros AgenteTop" />
    <meta name="description" content="">
    <meta name="keywords" content="seguro de gastos medicos mayores,simulador de gastos medicos mayores,Cual es el mejor seguro de gastos medicos mayores,seguros gnp,seguro responsabilidad civil,seguro de casa,seguro de gastos medicos axa,cotizador de seguros de autos,qualitas seguros,seguros bancomer,auto seguro,empresas de seguros,seguros axa,seguro automovil,seguro empresarial,axa gastos medicos mayores,seguros de vehiculos,santander seguros,aig seguros,gnp seguros,agente de seguros,seguros mapfre,seguros multiva gastos medicos mayores,poliza de seguro,paracaidas precio,mapfre seguros,cotizacion de seguros,seguro de carga,seguros rsa,aon seguros,agentes de seguros,alliance seguros,axa seguros,seguro familiar,salto en paracaidas,seguro de vida santander,compañias de seguros de autos,seguros de automovil,cotizacion de seguro de auto,aba seguros,que es un seguro de vida,metlife seguros,seguros para empresas,hdi seguros,seguro de transporte,seguro motocicleta,seguro de,seguros de autos baratos,seguro de gastos medicos mayores gnp,rsa seguros,seguro de vida cotizador,tipos de seguros,salto tandem,saltar en paracaidas,agencia de seguros,seguros para autos viejos,asesor de seguros,salto paracaidas,seguro contra terceros,ace seguros,vuelo en parapente,seguro de automovil,cotizacion de seguros para autos,seguro de gastos medicos mayores metlife,seguro escolar,metlife seguro de vida,skydiving,seguro de gastos medicos mayores inbursa,seguros monterrey,seguro de vida metlife,mapfre,precios de seguros para autos,seguro medico internacional para estudiantes,parapente,precios de seguros de autos,seguros para casas,seguro de gastos medicos mayores banorte,seguros america,seguros medicos en mexico,contrato de seguro de vida,seguros para negocios,simulador de seguro de auto,el asegurador,seguros en linea,gnp seguro de gastos medicos mayores,cotizador de seguros para autos,bbva seguros,seguro de salud para la familia,gnp gastos medicos,seguros motocicletas,gastos medicos mayores gnp">
    <meta name="copyright" content="&copy; 2018 AgenteTop, S.A. de C.V." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="title" property="og:title" content="AgenteTop - Comparador de Seguros de Gastos Médicos" />
    <meta name="image" property="og:image" content="https://www.AgenteTop.com/Content/img/Compartido_Img_AgenteTop-01.jpg" />

    <link rel="canonical" href="https://www.AgenteTop.com/" />

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/BootstrapMin")
    @Scripts.Render("~/js/General")

    @Styles.Render("~/Content/styleLanding")

    <!-- Start of HubSpot Embed Code -->
    @*<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/3935987.js"></script>*@
    <!-- End of HubSpot Embed Code -->

    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="https://js.hs-analytics.net/analytics/1506597300000/3935987.js"></script>
    <!-- End of HubSpot Embed Code -->

    <script>
     var customData = {
            'CP': '',
			'IP' : '@HttpContext.Current.Request.UserHostAddress'
        }

        window._loq = window._loq || []
        window._loq.push(['custom', customData])
    </script>
    <script type='text/javascript'>
        var _Root = '@Url.Action("/")';
        var isVentana = 'Landing';
    </script>
    
</head>
<body>




    <!-- NAVBAR-->
    @*<nav class="black navbar navbar-default navbar-fixed-top hidden-xs backColorTransparent">
        <div class="container">
            <div class="navbar-header pull-left navbar-headerLogo">
                <a class="navbar-brand anclas" href="#anclaInicio">
                    <img class="navbarLogo no-tooltip" src="/Content/img/logo-AgenteTop.svg" alt="logo-AgenteTop" title="logo-AgenteTop" width="109" height="35" />
                </a>
                <a href="https://ssl.comodo.com" id="comodoTL2" target="_blank" title="Licencia comodo del sitio AgenteTop" class="no-tooltip hidden-xs hidden-sm">
                    <img class="img_logo_cnsf no-tooltip" src="https://www.AgenteTop.com/Content/img/comodo_secure.png" alt="logo-comodo-AgenteTop" title="logo-comodo-AgenteTop" width="100" height="85">
                </a>
            </div>
            <div class="navbar-header pull-right">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("PaginaFAQs","Home", new { area="Landing"})" class="nav_font_Menu hidden-xs hidden-sm no-tooltip ukAnalytics" title="Preguntas Frecuentes">Preguntas Frecuentes</a></li>
                    <li><div class="hidden-xs  hidden-sm bordemenu">&nbsp;</div></li>
                    <li><a href="https://AgenteTop.com/blog/" class="nav_font_Menu hidden-xs hidden-sm  no-tooltip ukAnalytics" title="Blog AgenteTop">Blog</a></li>
                    <li><div class="hidden-xs  hidden-sm bordemenu">&nbsp;</div></li>
                    <li><a href="#" class="nav_font_Menu hidden-xs hidden-sm ukAnalytics" id="aQuieroSaberMas" data-toggle="modal" data-target="#myModal" onclick="openModalContacto();">Contacto</a></li>
                    <li>
                        <div class="nav_font_Menu hidden-xs no-tooltip ukAnalytics navBar_Asesor justcall-click2call-event">
                            <div class="col-lg-12 col-md-12 col-sm-12 padding0px">
                                <div class="col-lg-5 col-md-5 col-sm-5 padding0px text-center">
                                    <img class="iconAsesor no-tooltip" src="/Content/img/icn-phone_asesor.svg" alt="phone_asesor-AgenteTop" title="phone_asesor-AgenteTop" width="26" height="26" />
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 padding0px text-center">
                                    <p>
                                        <span>
                                            Llama
                                        </span><br />a Asesor
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a class="nav_font_Menu hidden-xs no-tooltip ukAnalytics navBar_Asesor" onclick="OpenChat();funcionJavascript();return false;">
                            <div class="col-lg-12 col-md-12 col-sm-12 padding0px">
                                <div class="col-lg-5 col-md-5 col-sm-5 padding0px text-center">
                                    <img class="iconAsesor no-tooltip" src="/Content/img/icn-chat.svg" alt="chat-AgenteTop" title="chat-AgenteTop" width="32" height="32" />
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 padding0px text-center">
                                    <p>
                                        <span>
                                            Chatea
                                        </span><br />con Asesor
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>*@

    @RenderBody()

    <!-- FOORTER -->
    @*<footer id="footer" class="footer">
        <div class="container">
            <div class="row div_footer">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer_movil text-center div_footer_Margen2">
                    <a class="Lan_title1_footer" href="https://goo.gl/maps/ZgjuqYu25YB2" target="_blank">
                        Boulevard de las Ciencias 3015, piso 3, Juriquilla, Querétaro, C.P. 76280.
                        <br />Teléfono: (442) 296 8170
                    </a>
                </div>

                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 footer_movil text-center div_footer_Margen1">
                    <span class="Lan_title2_footer">Copyright AgenteTop 2017</span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 footer_movil text-center hidden-xs">
                    <a href="#" data-toggle="modal" data-target="#myModalTerminos" class="Lan_title2_footer">Términos del Servicio</a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 footer_movil text-center hidden-xs">
                    <a href="#" data-toggle="modal" data-target="#myModalPrivacidad" class="Lan_title3_footer">Aviso de Privacidad</a>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 footer_movil text-center hidden-lg hidden-md hidden-sm">
                    <a href="#" data-toggle="modal" data-target="#myModalTerminos" class="Lan_title2_footer">Términos del Servicio</a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 footer_movil text-center hidden-lg hidden-md hidden-sm">
                    <a href="#" data-toggle="modal" data-target="#myModalPrivacidad" class="Lan_title3_footer">Aviso de Privacidad</a>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center div_footer_Margen3">
                    <p class="Lan_title4_footer">¡Síguenos!</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center hidden-xs">
                    <a href="https://ssl.comodo.com" id="comodoTL2" target="_blank" title="Licencia comodo del sitio AgenteTop">
                        <img class="img_logoComodo2 no-tooltip" src="/Content/img/logo-comodo-vertical.png" alt="logo-comodo-AgenteTop" title="logo-comodo-AgenteTop" width="45" height="61">
                    </a>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-center footer_movil">
                    <a href="https://www.facebook.com/AgenteTopseguros" target="_blank">
                        <img class="img_logo_footer no-tooltip" src="/Content/img/icn-fb-bn.svg" alt="logo-facebook-AgenteTop" title="logo-facebook-AgenteTop" width="40" height="40">
                    </a>
                    <a href="https://www.instagram.com/AgenteTopseguros/" target="_blank">
                        <img class="img_logo_footer no-tooltip" src="/Content/img/icn-ig-bn.svg" alt="logo-instagram-AgenteTop" title="logo-instagram-AgenteTop" width="40" height="40">
                    </a>
                    <a href="https://twitter.com/AgenteTopseguros" target="_blank">
                        <img class="img_logo_footer no-tooltip" src="/Content/img/icn-tw-bn.svg" alt="logo-twitter-AgenteTop" title="logo-twitter-AgenteTop" width="40" height="40">
                    </a>
                    <a href="https://www.linkedin.com/company/AgenteTopseguros" target="_blank">
                        <img class="img_logo_footer no-tooltip" src="/Content/img/logo-linkedin.svg" alt="logo-linkedin-AgenteTop" title="logo-linkedin-AgenteTop" width="37" height="38">
                    </a>
                    <a href="https://plus.google.com/107506049304890169922" target="_blank">
                        <img class="img_logo_footer no-tooltip" src="/Content/img/logo-google-plu.svg" alt="logo-google-plu-AgenteTop" title="logo-google-plu-AgenteTop" width="38" height="38">
                    </a>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center hidden-xs">
                    <a href="https://www.cnsf.gob.mx/EntidadesSupervisadas/OtrasPersonasSupervisadas/Paginas/BusquedaAgentesApoderados.aspx" target="_blank">
                        <img class="img_logoComodo2 no-tooltip" src="/Content/img/logo-comision.svg" alt="logo-comision-AgenteTop" title="logo-comision-AgenteTop" width="60" height="60">
                    </a>
                </div>


                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 text-center hidden-lg hidden-md hidden-sm">
                    <a href="https://ssl.comodo.com" id="comodoTL2" target="_blank">
                        <img class="img_logoComodo2 no-tooltip" src="/Content/img/logo-comodo-vertical.png" alt="logo-comodo-AgenteTop" title="logo-comodo-AgenteTop" width="45" height="61">
                    </a>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 text-center hidden-lg hidden-md hidden-sm">
                    <a href="https://www.cnsf.gob.mx/EntidadesSupervisadas/OtrasPersonasSupervisadas/Paginas/BusquedaAgentesApoderados.aspx" target="_blank">
                        <img class="img_logoComodo2 no-tooltip" src="/Content/img/logo-comision.svg" alt="logo-comision-AgenteTop" title="logo-comision-AgenteTop" width="60" height="60">
                    </a>
                </div>
            </div>
        </div>
    </footer>*@

    @RenderSection("scripts", required: false)

    @Scripts.Render("~/js/DisableTitle")
</body>
</html>

<script>
    (function (w, u, d) { if (typeof u !== "function") { var i = function () { i.c(arguments) }; i.q = []; i.c = function (args) { i.q.push(args) }; w.Upscope = i; var l = function () { var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://code.upscope.io/YVqrRg8MqZYjSCpw7BK5h4B6.js'; var x = d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); }; l(); } })(window, window.Upscope, document);

    Upscope('init', {
        // Optionally set the user ID below. If you don't have it, it doesn't matter,
        // Upscope will integrate with your live chat system anyway.
        uniqueId: "USER UNIQUE ID",
        // Optionally set the user name or email below
        identities: ["list", "of", "identities", "here"]
    });
    setInterval(function () { if (Upscope) Upscope('integrate'); }, 1000);
</script>
