@model DNyC.Areas.Sitio.Models.cHome
@using Newtonsoft.Json

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es" xml:lang="es">
<head>
    <link rel="icon" type="image/png" ref="~/Content/img/favicon16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" ref="~/Content/img/favicon32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" ref="~/Content/img/favicon64x64.png" sizes="48x48">

    <title>Duraznos, Nectarinas y Ciruelas de California – Recetas</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <meta charset="utf-8">
    <meta name="author" content="SaltoDigital" />
    <meta name="description" content="Son Duraznos, Nectarinas y Ciruelas de California Bienvenidos a nuestra temporada 2022 Ha llegado la temporada de los 🍑 Duraznos, Nectarinas y Ciruelas de California. Muy pronto compartiremos contigo nuestras recetas. Descubre nuestras recetas, descubrirás su versatilidad y facilidad. Cuando tú les das en casa un Durazno, Nectarina o Ciruela de California, les entregas seguridad, confianza y…">
    <meta name="keywords" content="Duraznos, Nectarinas y Ciruelas de California">
    <meta name="copyright" content="&copy; 2020 SaltoDigital" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <meta property="og:type" content="website">
    <meta property="og:title" content="Duraznos, Nectarinas y Ciruelas de California" />
    <meta property="og:description" content="¡Tú sabes! Son sanos y deliciosos. Son Duraznos, Nectarinas y Ciruelas de California">
    <meta property="og:url" content="https://duraznosnectarinasyciruelasdecalifornia.com/">
    <meta property="og:site_name" content="Duraznos, Nectarinas y Ciruelas de California">
    <meta property="og:image" content="https://duraznosnectarinasyciruelasdecalifornia.com/Content/img/metatag.jpg">
    <meta property="og:locale" content="es_ES">

    <meta name="twitter:text:title" content="¡Tú sabes!  Son sanos y deliciosos">
    <meta name="twitter:image" content="https://duraznosnectarinasyciruelasdecalifornia.com/Content/img/metatag.jpg">
    <meta name="twitter:card" content="summary">

    <link rel="canonical" href="https://duraznosnectarinasyciruelasdecalifornia.com/descargar-recetario" />

    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">

    @Html.Partial("~/Views/Shared/Scripts/_GoogleTagHeader.cshtml")

    <script>
        var _Root = '@Url.Action("/")',
            ventana = 'descargar-recesta',
            contador = 0,
            ArrayPDFRecetas = @Html.Raw(JsonConvert.SerializeObject(Model.Recetas));
    </script>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/BootstrapMin")
    @Styles.Render("~/Content/HomeLanding")

    @Scripts.Render("~/js/General")
    @Scripts.Render("~/js/Descargar_Recetas")

</head>
<body class="body">
    @Html.Partial("~/Views/Shared/Scripts/_GoogleTagBody.cshtml")

    @*NAVBAR*@
    <nav class="black navbar navbar-default navbar-fixed-top backColorTransparent">
        <div class="container-fluid">
            <div class="navbar-header pull-left hidden-xs">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="a_home" href="#">
                            <img class="logo" src="/Content/img/logo-DNyCC-slogan.png" alt="logo-DNyCC" width="234" height="68">
                        </a>
                    </li>
                </ul>
            </div>
            <button type="button" class="navbar-toggle hidden-lg hidden-md hidden-sm" data-toggle="collapse" data-target="#myNavbar" onclick="btn_AbrirMenuMovil();">
                <span class="material-icons">
                    menu
                </span>
            </button>
            <div id="myNavbar" class="navbar-header pull-right collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="a_contactanos hidden-xs" href="#"><img class="img_mail" src="/Content/img/icn-mail.svg" alt="DNyCC-mail" width="30" height="30"></a>
                    </li>
                    <li>
                        <a class="a_facebook hidden-xs" href="#" target="_blank"><img class="img_facebook" src="/Content/img/icn-facebook.svg" alt="DNyCC-facebook" width="30" height="30"></a>
                    </li>
                    <li>
                        <a class="a_instagram hidden-xs" href="#" target="_blank"><img class="img_instagram" src="/Content/img/icn-instagram.svg" alt="DNyCC-instagram" width="30" height="30"></a>
                    </li>
                    <li>
                        <a class="a_twitter hidden-xs" href="#" target="_blank"><img class="img_twitter" src="/Content/img/icn-twitter.svg" alt="DNyCC-twitter" width="30" height="30"></a>
                    </li>
                    <li>
                        <a class="a_contactanos hidden-lg hidden-md hidden-sm" href="#">
                            <img class="img_mail" src="/Content/img/icn-mail.svg" alt="DNyCC-mail" width="30" height="30">
                            &nbsp;&nbsp;Contactanos
                        </a>
                    </li>
                    <li>
                        <a class="a_facebook hidden-lg hidden-md hidden-sm" href="#" target="_blank">
                            <img class="img_facebook" src="/Content/img/icn-facebook.svg" alt="DNyCC-facebook" width="30" height="30">
                            &nbsp;&nbsp;Facebook
                        </a>
                    </li>
                    <li>
                        <a class="a_instagram hidden-lg hidden-md hidden-sm" href="#" target="_blank">
                            <img class="img_instagram" src="/Content/img/icn-instagram.svg" alt="DNyCC-instagram" width="30" height="30">
                            &nbsp;&nbsp;Instagram
                        </a>
                    </li>
                    <li>
                        <a class="a_twitter hidden-lg hidden-md hidden-sm" href="#" target="_blank">
                            <img class="img_twitter" src="/Content/img/icn-twitter.svg" alt="DNyCC-twitter" width="30" height="30">
                            &nbsp;&nbsp;Twitter
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container-fluid fold_primero_descargar">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding_0px hidden-lg hidden-md hidden-sm">
                <a class="a_home" href="#">
                    <div class="div_logo">
                        <div class="div_imglogo">
                            <img class="" src="/Content/img/logo-DNyCC.png" alt="logo-DNyCC" width="120" height="120">
                        </div>
                        <div class="div_slogan">
                            <p>
                                Duraznos, Nectarinas y<br />
                                Ciruelas de California.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding_0px">
                <h2>¡Tu recetario está listo! Esperamos que lo disfrutes.</h2>
                <!-- <p>Selecciona la(s) receta(s) que quieras obtener y descárgalas.</p> -->
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding_0px div_tabla">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding_0px div_btn CandyBar">
                    <h1>Recetario Completo</h1>
                    <button type="button" class="btn BtnCandyRed" onclick="SeleccionarTodosPDF();">
                        Descargar todo 6 Mb
                        <span class="material-icons">get_app</span>
                    </button>
                </div>
                <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding_0px div_btn CandyBar CandyBarFlex">
                    <button type="button" class="btn BtnCandyPurple" onclick="descargar_recetaHelena();">
                        Chef Helena Hdz.
                        <span class="material-icons">get_app</span>
                    </button>
                    <button type="button" class="btn BtnCandyGreen" onclick="descargar_recetaKaruy();">
                        Chef Karuy Zazueta
                        <span class="material-icons">get_app</span>
                    </button>
                    <button type="button" class="btn BtnCandyYellow" onclick="descargar_recetaBondeleite();">
                        Chef María José Gastelum
                        <span class="material-icons">get_app</span>
                    </button>-->
                    @*<button type="button" class="btn BtnCandyPurple" data-toggle="modal" data-target="#modalEnviarEmail">
                Enviar
                <span class="material-icons">email</span>
            </button>*@
                </div>
                <table>
                    <tbody>
                        @foreach (var m in Model.Recetas)
                        {
                            string classColor = "";
                            if (@m.Id % 2 == 0)
                            {
                                classColor = "color";
                            }

                            <tr class="@classColor">
                                <td class="td_check">
                                    <button type="button" class="btn" onclick="DescargarSeleccionPDF(@m.Id);">
                                        <span class="material-icons">
                                            get_app
                                        </span>
                                    </button>
                                </td>
                                <td class="td_img">
                                    <img class="" src="~/Documentos/Recetas/@m.Imagen" alt="pdf-receta" width="90" height="90">
                                </td>
                                <td>
                                    <h2>@m.Titulo</h2>
                                    <p>@m.Fecha</p>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="container-fluid fold_powered_by">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2>
                    © 2020 Powered by saltodigital
                </h2>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalEnviarEmail" tabindex="-1" role="dialog" aria-labelledby="modalEnviarEmail" aria-hidden="true">
        <div class="modal-dialog modalEnviar" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <p>Si deseas que te enviémos el recetario completo a tu correo, por favor compartelo en el sigueinte campo</p>
                    <h1>¿Cuál es tu correo?</h1>
                    <form id="ValCorreo">
                        <input name="txtCorreo" id="txtCorreo" type="text" maxlength="50" class="form-control" placeholder="Correo" onkeyup="valForm_SolicitarContacto();" onfocusout="valForm_SolicitarContacto();">
                    </form>
                    <p id="msjVal" class="msjVal">*msjerror</p>
                    <button type="button" class="btn btn_inactivo" onclick="btnSolicitarContacto();">Enviar</button>
                </div>
            </div>
        </div>
    </div>


    <div id="modalConfirmacion" class="modal fade" role="dialog">
        <div class="modal-dialog modalConfirmar">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <img class="imgmodal" src="/Content/img/checked2.svg">
                    <p class="title1Modal">¡Gracias!</p>
                    <p class="title2Modal">Se envio el correo correctamente.</p>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("~/Views/PopUp/_Generales.cshtml")

    @Html.Partial("~/Views/Shared/Scripts/_HubSpot.cshtml")

    @Html.Partial("_Hidden_Encripta", Model.Encriptacion)
</body>
</html>
