@model DNyC.Areas.Sitio.Models.cHome
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es" xml:lang="es">
<head>
    <link rel="icon" type="image/png" ref="~/Content/img/favicon16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" ref="~/Content/img/favicon32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" ref="~/Content/img/favicon64x64.png" sizes="48x48">

    <title>Duraznos, Nectarinas y Ciruelas de California – Recerario</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <meta charset="utf-8">
    <meta name="author" content="SaltoDigital" />
    <meta name="description" content="Son Duraznos, Nectarinas y Ciruelas de California Bienvenidos a nuestra temporada 2022 Ha llegado la temporada de los 🍑 Duraznos, Nectarinas y Ciruelas de California. Muy pronto compartiremos contigo nuestras recetas. Descubre nuestras recetas, descubrirás su versatilidad y facilidad. Cuando tú les das en casa un Durazno, Nectarina o Ciruela de California, les entregas seguridad, confianza y…">
    <meta name="keywords" content="Duraznos, Nectarinas y Ciruelas de California">
    <meta name="copyright" content="&copy; 2020 SaltoDigital" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <meta property="og:type" content="website">
    <meta property="og:title" content="Duraznos, Nectarinas y Ciruelas de California" />
    <meta property="og:description" content="¡Tú sabes! Son sanos y deliciosos. Son Duraznos, Nectarinas y Ciruelas de California">
    <meta property="og:url" content="https://duraznosnectarinasyciruelasdecalifornia.com/">
    <meta property="og:site_name" content="Duraznos, Nectarinas y Ciruelas de California">
    <meta property="og:image" content="https://duraznosnectarinasyciruelasdecalifornia.com/Content/img/metatag.jpg">
    <meta property="og:locale" content="es_ES">

    <meta name="twitter:text:title" content="¡Tú sabes!  Son sanos y deliciosos">
    <meta name="twitter:image" content="https://duraznosnectarinasyciruelasdecalifornia.com/Content/img/metatag.jpg">
    <meta name="twitter:card" content="summary">

    <link rel="canonical" href="https://duraznosnectarinasyciruelasdecalifornia.com/recetario/cuestionario" />

    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">

    @Html.Partial("~/Views/Shared/Scripts/_GoogleTagHeader.cshtml")

    <script>
        var _Root = '@Url.Action("/")',
            ventana = 'recetas';
    </script>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/BootstrapMin")
    @Styles.Render("~/Content/HomeLanding")

    @Scripts.Render("~/js/General")
    @Scripts.Render("~/js/HomeLandingContacto")

</head>
<body class="body">
    <input id="postOrigen" name="postOrigen" hidden="hidden" value="@ViewBag.Recetas" />

    @Html.Partial("~/Views/Shared/Scripts/_GoogleTagBody.cshtml")

    <div class="container-fluid fold_primero_contacto fold_recetario">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding_0px">
                <a class="a_home" href="#">
                    <div class="div_logo">
                        <div class="div_imglogo">
                            <!--<img class="" src="/Content/img/logo-DNyCC.png" alt="logo-DNyCC" width="120" height="120"> -->
                            <img class="" src="/Content/img/logo100x100.png" alt="logo-DNyCC" width="120" height="120">
                        </div>
                        <div class="div_slogan">
                            <p>
                                Duraznos, Nectarinas y<br />
                                Ciruelas de California.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding_0px div_formulario">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding_0px">
                    <h2>Descarga nuestro recetario 🍑</h2>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding_0px formulario">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding_0px">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding_0px">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding_0px input_left">
                                <input name="txtnombre" id="txtnombre" type="text" class="form-control" placeholder="Nombre Completo" maxlength="50" onkeyup="valForm_SolicitarContacto();" onfocusout="General_PrimeraMayuscula(this);" />
                            </div>
                            <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding_0px input_right">
                                <input name="txtapellido" id="txtapellido" type="text" class="form-control" placeholder="Apellido" maxlength="50" onkeyup="valForm_SolicitarContacto();" onfocusout="General_PrimeraMayuscula(this);" />
                            </div>-->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding_0px input_left">
                                <input name="txtEdad" id="txtEdad" type="number" class="form-control" placeholder="Edad" maxlength="2" oninput="maxLengthCheck(this);" onkeyup="valForm_SolicitarContacto();" onfocusout="General_PrimeraMayuscula(this);" />
                            </div>
                            <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding_0px input_right">
                                <input name="txtCP" id="txtCP" type="number" class="form-control" placeholder="Código Postal" maxlength="5" oninput="maxLengthCheck(this);" onkeyup="txtCPKeyup(this);" onfocusout="General_PrimeraMayuscula(this);" />
                            </div>-->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding_0px input_right">
                                <input name="txtEstado" id="txtEstado" type="text" class="form-control inputObligatorio" placeholder="Estado" />
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding_0px">
                                <form id="ValCorreo">
                                    <input name="txtCorreo" id="txtCorreo" type="text" maxlength="50" class="form-control" placeholder="Correo" onkeyup="valForm_SolicitarContacto();" onfocusout="valForm_SolicitarContacto();">
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-thanks">
                        <p class="text-center"><strong>¡Gracias por descargar el recetario de Duraznos, nectarinas y ciruelas de California temporada 2023!</strong></Strong></p>
                        <p><small>Tu privacidad es importante para nosotros, toda la información que nos proporciones será tratada con total confidencialidad y cumpliendo con las regulaciones de protección de datos.</small></p>
                        <p><small>Solicitamos esta información para entender mejor a nuestra audiencia y personalizar la experiencia del usuario. Gracias. ¡Esperamos que lo disfrutes! Comparte tus recetas en redes con el <strong></strong>#carozosdeCalifornia</strong></small></p>
                    </div>



                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding_0px div_check">
                        <label id="lb_check_terminos" class="container_check">
                            <input id="check_terminos" name="check_terminos" type="checkbox">
                            Acepto los <a href="#" data-toggle="modal" data-target="#myModalTerminos">términos y condiciones de uso</a> y he leido el <a href="#" data-toggle="modal" data-target="#myModalPrivacidad">aviso de privacidad.</a>
                            <span class="checkmark"></span>
                        </label>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding_0px">
                        <p id="msjVal" class="msjVal">*msjerror</p>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0px div_cta">
                        <button id="btn-recetario" class="btn btn_secundario" onclick="btnSolicitarContacto();" style="display:none;">
                            Descargar recetario
                        </button>
                        <button id="btn-recetario-dummy" class="btn btn_secundario" onclick="btnSolicitarContacto();">
                            Descargar recetario
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="container-fluid fold_powered_by">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2>
                    © 2020 Powered by saltodigital
                </h2>
            </div>
        </div>
    </div>



    @Html.Partial("~/Views/PopUp/_Generales.cshtml")

    @Html.Partial("~/Views/Shared/Scripts/_HubSpot.cshtml")

    @Html.Partial("_Hidden_Encripta", Model.Encriptacion)


    <div id="modalConfirmacion" class="modal fade" role="dialog">
        <div class="modal-dialog modalConfirmar">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <img class="imgmodal" src="/Content/img/checked2.svg">
                    <p class="title1Modal">¡Gracias!</p>
                    <p class="title2Modal">Nos pondremos en contacto contigo</p>
                    @*<button id="btnEnviar" type="submit" class="btn" data-dismiss="modal" aria-label="Close">Enterado</button>*@
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("_popup_preguntas")

</body>
</html>
